*{
    font-family: 'Poppins';
}

.baseContainer{
    display: flex;
    flex-direction: column;
}
.secondContainer{
    display: flex;
    flex: 1;
    flex-direction: row;
}
.innerContainer{
    display: flex;
    flex: 1;
    flex-direction: column;
}

input, textarea
{
    border: 1px solid rgb(107 107 107) !important;
}

.companyItem
{
	position: relative;
    border-radius: 10;
    background-color: transparent;
    transition: all ease-in 0.2s;
}

.companyItem:hover
{
	position: relative;
    border-radius: 10;
    background-color: #CD858D85;
    transition: all ease-in 0.2s;
}
/* 
.companyItem {
	position: relative;
	background: #CD858D85; 
} */
.companyItem:hover:after, .companyItem:hover:before {
    position: relative;
    border-radius: 10;
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 3;
	width: 3;
	position: absolute;
    pointer-events: none;
    transition: all ease-in 0.2s;
}

.companyItem:hover:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #CD858D85;
	border-width: 5px;
    margin-top: -5px;
    transition: all ease-in 0.2s;
    
}
.companyItem:hover:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #CD858D85;
	border-width: 8px;
    margin-top: -8px;
    transition: all ease-in 0.2s;
    
}

.companyItemActive 
{
	position: relative;
    border-radius: 10;
    background-color: #CD858D85;
    transition: all ease-in 0.2s;
    /* color: white; */
}

/* .companyItemActive > *
{
    color: white !important;     
} */
.companyItemActive:after, .companyItemActive:before {
    position: relative;
    border-radius: 10;
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 3;
	width: 3;
	position: absolute;
    pointer-events: none;
    transition: all ease-in 0.2s;
}

.companyItemActive:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #CD858D85;
	border-width: 5px;
    margin-top: -5px;
    transition: all ease-in 0.2s;
    
}
.companyItemActive:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #CD858D85;
	border-width: 8px;
    margin-top: -8px;
    transition: all ease-in 0.2s;
    
}
.domainName
{
    color:#CD858D85 !important;
}

.customBtn
{
    background-color: #ab3134 !important;
    color: #ffffff !important;
    border: solid 1px #ab3134 !important;
    transition: all 0.3s ease-out;
}

.customBtn:hover
{
    background-color: #ffffff !important;
    color: #ab3134 !important;
    border: solid 1px #ab3134 !important;
    transition: all 0.3s ease-out;
}