.appContentContainerLeftSubmenu
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 45%;
  border-radius: 2px;
  border: solid 0.5px #BABABA85;
  background-color: #ffffff;

}

.submenuItem
{
  display: flex;
  position: relative;
  width: 90% ;
  margin: 5px 0px;
  padding: 6px 2.5px;
  border-radius: 2px;
  border: solid 2px #bbbbbb85;
  background-color: #F7F7FC;
  font-size: 13px;
  color:#14142B;
  text-indent: 5px;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 0px transparent;
  transition: ease-in 0.2s;

}
.submenuItem span:nth-child(2)
{
  color: transparent;
  transform: scale(1.3);
  margin-right: 5px;
  margin-top: 2px;
  transition: ease-in 0.2s;
}
.submenuItem:hover span:nth-child(2), .submenuItemActive span:nth-child(2)
{
  color : #AB3134;
  transition: ease-in 0.2s;
}
.submenuItem:hover
{
    border-color: #AB313485;
    background-color: #ffffff;
    color: #AB3134;
    box-shadow: 0px 3px 0px #7d7e7e6c;
    transition: ease-in 0.2s;
}
.submenuItemActive
{
    display: flex;
    position: relative;
    width: 90% ;
    margin: 5px 0px;
    padding: 6px 2.5px;
    border-radius: 2px;
    border: solid 2px #bbbbbb85;
    border-color: #AB313485;
    background-color: #ffffff;
    color: #AB3134;
    box-shadow: 0px 3px 0px #7d7e7e6c;
    font-size: 13px;
    text-indent: 5px;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    transition: ease-in 0.2s;
}

.contextMenuBox
{
    display : flex;
    flex-direction : column ;
    position : absolute;
    top : 10px;
    right:-30px;
    padding:5px;
    border: solid 1px #EB5757;
    border-radius:2px;
    width:120px;
    /* min-height : 80px; */
    background-color:#EFF0F6;
    box-shadow:0px 3px 4px gainsboro;
    z-index:3;
}
.contextMenuBox button
{
  border:none;
  width : 100%;
  padding : 5px;
  font-family : "Poppins";
  font-weight: bolder;
  text-align:left;
  cursor: pointer;
  color: #6E7191;
}

.contextMenuBox button:hover
{
  color : #AB3134;
}

.contextMenuBox input
{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  font-family: 'Poppins';
}

.contextMenuBox label
{
  padding : 5px 0px;
  font-family : "Poppins";
  font-weight: bolder;
  text-align:left;
  cursor: pointer;
  color: #6E7191;
}

.contextMenuBox label:hover
{
  color : #AB3134;
}

canvas.renderer {
  border: 1px solid black;
  margin: 5px;
  width: 25%;
  position: relative;
  z-index: -1000;
  visibility: hidden;
}