.appContentContainer
{
  position : absolute;
  top : 36px;
  left: 0px;
  z-index: 2;
  width: 100%;
  display: flex;
  height: 100%;
  background-color: #F0F0F0;
  /* margin-top: 10px;
  margin-left: 10px; */
  flex-direction: column;
}

.appInnerBody
{
  display: flex;
  width: 98%;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  background-color: #e7e7ed;
  margin-top: 8px;
  align-items: flex-start;
  flex-direction: column;
  /* justify-content: space-between; */
}


.appSubHeader
{
    display: flex;
}

.appContentContainerCenter
{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow:hidden;
}


  
.appHeader
{
  display: flex;
  width: 98%;
  margin-right: auto;
  margin-left: auto;
  height: 40px;
  border-radius: 2px;
  background-color:#ffffff;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 0px rgba(92, 92, 92, 0.445);
}

.appHeaderTitlebox
{
  background-color: #AB3134;
  color: #ffffff;
  width: 176px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 900;
  text-indent: 15px;
  font-size: 14px;
  text-transform: uppercase;
}

.appHeaderHmenubox
{
   display: flex;
   align-items: center;
}
.appHeaderHmenuItem
{
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 15px;
  color: #1a1a1a;
  background-color: #ffffff;
  font-family: 'Poppins';
  font-weight: bolder;
  margin: 0px 5px;
  transition: ease 0.3s;
}

.appHeaderHmenuItemActive
{
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 15px;
  color:#ffffff;
  background-color:  #CD858D;
  font-family: 'Poppins';
  font-weight: bolder;
  margin: 0px 5px;
  transition: ease 0.3s;
}

.appHeaderHmenuItem:hover
{
  
  color:#ffffff;
  background-color:  #CD858D;
  transition: ease 0.3s;
}

.appHeaderSearchbox
{
  display: flex;
  position: relative;
  justify-content: center;
  border-radius: 2px;
  height: 70%;
  padding: 5px 10px;
}

.appHeaderSearchbox > input   
{
  border : solid 0.5px gray;
  border-radius: 2px 0px 0px 2px;
  text-indent: 10px;
  
}
.appHeaderSearchbox > input::placeholder
{
  font-size: 11px;
  font-family: 'Poppins';
  color: gray;
}
.appHeaderSearchbox > button
{
  background: none;
  border: solid 0.5px gray;
  border-radius: 2px;
  border-left: 0px;
}
.appHeaderSearchbox > button > img   
{
  position: relative;
  width: 18px;
}
.appHeaderJournal
{
    display: flex;
    align-items: center;
    /* margin-right: auto; */
    margin-left: 20px;
    font-family: 'Poppins';
    font-size: 12px;
    color: #AB3134;
    font-weight: bolder;
}

.appHeaderJournal select
{
    width : 100px;
    outline: none;
    border: solid 1px #AB3134;
    border-radius: 2px;
    margin-left: 10px;
    padding: 5px 15px;

}

.appHeaderPeriod
{
    display: flex;
    align-items: center;
    /* margin-right: auto; */
    margin-left: 20px;
    font-family: 'Poppins';
    font-size: 12px;
    color: #AB3134;
    font-weight: bolder;
}

.appHeaderPeriod :last-child
{
    margin-left: 0px;
}

.appHeaderDisplay
{
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 20px;
    font-family: 'Poppins';
    font-size: 12px;
    color: #AB3134;
    font-weight: bolder;
}

.appHeaderDisplay select
{
    width : 160px;
    outline: none;
    border: solid 1px #AB3134;
    border-radius: 2px;
    margin-left: 10px;
    padding: 5px 15px;

}

.appToolbarOpts
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #1a1a1a;
    font-family: 'Poppins';
    font-weight: bolder;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.appToolbarOpts span 
{
    cursor: pointer;
    padding: 1px 10px;
    border-right: solid 2px gray;
}
.appToolbarOpts span:last-child
{
    border-right: none;
}
 
.fixed_header{
    width:100%;
    table-layout: fixed;
    height: 100%;
    border-collapse: collapse;
    font-family: 'Poppins';
}

.fixed_header_tbody_main{
  display:block;
  width: 100.5%;
  overflow: auto;
  height: 93%;
  /* background-color: brown; */
}
tr {
    border: none !important;
}
.fixed_header thead tr {
   display: block;
   border-bottom: solid black;
}

.fixed_header tr :first-child {
    width: 30px;
 }

.fixed_header tr :last-child {
    width: 60px;
}

.fixed_header thead {
  background: #9B9B9B;
  color:rgb(31, 30, 30);
  font-size: 14px;
}

.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: left;
  width: 200px;
  border-bottom: solid 1px gray;
  border-right: solid 1px gray;
}

.fixed_header th:last-child, .fixed_header td:last-child {
    border-right: none;
  }

.row_bg_1
{
    background-color: #ffffff;
    color: #272833;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: bolder;
}

.row_bg_2
{
    background-color: #E1E1E1;
    color: #272833;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: bolder;
}




.appInnerMiddlePreviewContainer
{
    display: flex;
    position: absolute;
    right: -110%;
    width: 80%;
    height: 100%;
    background-color: #c4c4c4;
    justify-content: center;
}

.previewFileContainer
{
  width: 90%;
  margin-top: 15px;
  /* background-color: firebrick; */
  overflow-y: scroll;
  
}
