  
  .appContentContainerCenterToolbar
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 38px;
    /* border-left: solid 0.5px #BABABA85;
    border-right: solid 0.5px #BABABA85; */
    background-color: #EFEFEF;
  }

  .appInnerToolbarNavigation
  {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: #14142B;
      font-weight: bolder;
      font-size: 13px;
      border-right: dashed 1.0px gray;
      padding-right: 5px;
  }
  .appInnerToolbarNavigation > span
  {
     margin: 0px 5px;
  }
  
  .appInnerToolbarNavigation span:nth-child(1)
  {
     font-size: 11px;
     color: #6b6b6b;
     margin-left: 10px;
  }
  
  .appInnerToolbarTools
  {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: #14142B;
      font-weight: bolder;
      font-size: 14px;
      margin-left: 15px;
  }
  
  .appInnerToolbarStats
  {
      display: flex;
      justify-self: flex-end;
      /* background-color: red; */
      align-items: center;
      font-size: 13px;
      margin-right : 15px;

  }

  .appInnerToolbarStatsBadges
  {
      display: flex;
      justify-self: flex-end;
      /* background-color: red; */
  }

  .appProcessStatBadgeItem
  {
      display: flex;
      padding: 1px 5px;
      border-radius: 10px;
      align-items: center;
      color: #14142B;
      background-color: #ffffff;
      margin: 0px 5px;
  }

  .appProcessStatBadgeItem img
  {
      width:15px; height: auto;
      margin-right: 5px;
  }

  .appProcessStatBadgeItem span span
  {
      font-weight: bolder;
  }

  .appInnerToolbarStatsFilescount
  {
      display: flex;
      justify-self: flex-end;
      color: #14142B;
      font-weight: bolder;
  }

  .toolbarItemBtn
  {
     padding: 0px 10px;
     border: none;
     border-right: solid 1px gray;
     background-color: none;
     font-family: 'Poppins';
     font-weight: bolder;
     font-size: 12px;
     color: #14142B;
     cursor: pointer;
     transition: ease-in 0.2s;

  }
  .toolbarItemBtn:hover
  {
    color: #AB3134;
    transition: ease-in 0.2s;
  }

  .toolbarItemBtnFocused
  {
     padding: 0px 10px;
     border: none;
     border-right: solid 1px gray;
     background-color: none;
     font-family: 'Poppins';
     font-weight: bolder;
     font-size: 12px;
     color: #dc4246;
     cursor: pointer;
     transition: ease-in 0.2s;

  }

   .appInnerToolbarTools > button:last-child
  {
     border-right: none;
  }

  
.contextMenuBox
{
    display : flex;
    flex-direction : column ;
    position : absolute;
    top : 30px;
    left:0px;
    padding:5px;
    border: solid 1px #EB5757;
    border-radius:2px;
    width:120px;
    min-height : 80px;
    background-color:#EFF0F6;
    box-shadow:0px 3px 4px gainsboro;
    z-index:3;
}
.contextMenuBox button
{
  border:none;
  width : 100%;
  padding : 5px;
  font-family : "Poppins";
  font-weight: bolder;
  text-align:left;
  cursor: pointer;
  color: #6E7191;
}

.contextMenuBox button:hover
{
  color : #AB3134;
}

.contextMenuBox input
{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  font-family: 'Poppins';
}

.contextMenuBox label
{
  padding : 5px 0px;
  font-family : "Poppins";
  font-weight: bolder;
  text-align:left;
  cursor: pointer;
  color: #6E7191;
}

.contextMenuBox label:hover
{
  color : #AB3134;
}