.appContainerBtn
{
  display: flex;
  justify-content: center;
}
.appContainerBtn button
{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 14px 18px;
  border-radius: 4px;
  border: none;
  background-color: #AB3134;
  color:#ffffff;
}


.callToAction
{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-top: 50px;
  padding: 14px 18px;
  border-radius: 4px;
  border: solid 1px #AB3134;
  background-color: #AB3134;
  color:#ffffff;
  pointer-events: painted;
  transition: all ease-in 0.3s;
}

.callToAction:hover
{
  background-color: #ffffff;
  color: #AB3134;
  border: solid 1px #AB3134;
  transition: all ease-in 0.3s;
}