*{
    font-family: 'Poppins';
}

.baseContainer{
    display: flex;
    flex-direction: column;
}
.secondContainer{
    display: flex;
    flex: 1;
    flex-direction: row;
}
.innerContainer{
    display: flex;
    flex: 1;
    flex-direction: column;
}

input, textarea
{
    border: 1px solid rgb(107 107 107) !important;
}