.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    background-color: #f2f2f2;
  }

.splashImg
{
    width: 130px;
    height: auto;
}