.filebaseContainer
{
    display: flex;
    width: 97%;
    height: 25px;
    padding: 4px 4px;
    margin: 6px 0px;
    border: solid 0.5px gray;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0px 2px 0px #7d7e7e6c;
    align-items: center;
    cursor: pointer;
    /* justify-content: space-between; */
}

.iconContainer
{
    display: flex;
    /* width: 80px; */
    height: 100%;
    /* background-color: red; */
    align-items: center;
    justify-items: center;
}
.iconContainer img
{
    height: 80%;
    width: auto;
    margin-left: 3px;
}
.detailsContainer
{
    display: flex;
    align-self: flex-start;
    height: 100%;
    margin-left: 10px;
    align-items: flex-start;
    flex-direction: column;
    color: #313131;
    font-family: 'Poppins';
}
.detailsContainer span:first-child
{
    font-size: 13px;
    font-weight: bolder;
}
.detailsContainer span:last-child
{
    font-size: 11px;
}
.statsContainer
{
    display: flex;
    /* width: 49px; */
    height: 100%;
    margin-left: auto;
    align-items: center;
    
}

.statsContainer span
{
    font-size: 12px;
    font-weight: 4000;
    color: #313131;
    margin-right: 10px;
}
.statsContainer img
{
    width: 17px;
    height: auto;
    margin-right: 10px;
}