  

  .appInnerMiddleContainer
  {
      display: flex;
      position: relative;
      width: 100%;
      height: 100%;
      background-color: gainsboro;
      overflow: hidden;
  }

  .appInnerMiddleFilesContainer
  {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: gainsboro;
      /* overflow-y: scroll; */
  }

  .appInnerMiddlePreviewContainer
  {
      display: flex;
      position: absolute;
      right: -110%;
      width: 80%;
      height: 100%;
      background-color: #c4c4c4;
      justify-content: center;
  }
  
  .previewFileContainer
  {
    width: 90%;
    height: 100%;
    margin-top: 15px;
    background-color: firebrick;
    overflow-y: scroll;
    
  }

  .filebaseContainer
{
    display: flex;
    width: 99%;
    height: 25px;
    padding: 4px 4px;
    margin: 5px 0px;
    border: solid 0.5px gray;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0px 2px 0px #7d7e7e6c;
    align-items: center;
    cursor: pointer;
    /* justify-content: space-between; */
}

.iconContainer
{
    display: flex;
    /* width: 80px; */
    height: 100%;
    /* background-color: red; */
    align-items: center;
    justify-items: center;
    margin-right: 25px;
}
.iconContainer img
{
    height: 80%;
    width: auto;
    margin-left: 3px;
}
.detailsContainer
{
    display: flex;
    align-self: flex-start;
    width: 100%;
    height: 100%;
    margin-left: 10px;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* flex-direction: column; */
    color: #313131;
    text-align: left;
    font-family: 'Poppins';
}
.detailsContainer span:first-child
{
    font-size: 14px;
    /* font-weight: bolder; */
}
.detailsContainer span:last-child
{
    font-size: inherit;
    /* font-weight: bolder; */
}
.statsContainer
{
    display: flex;
    /* width: 49px; */
    height: 100%;
    margin-left: auto;
    align-items: center;
    
}

.statsContainer span
{
    font-size: 12px;
    font-weight: 4000;
    color: #313131;
    margin-right: 10px;
}
.statsContainer img
{
    width: 17px;
    height: auto;
    margin-right: 10px;
}

