
.appContentContainerRight
{
  display: flex;
  flex-direction: column;
  width: 350px;
  height: calc(100% - 35px);
  margin : 0px 5px;
  margin-right: 0px;
  border-radius: 3px;
  border: solid 0.5px #AB313485;
  background-color: #ffffff;
}
.appContainerRightFields
{
  display: flex;
  /* height: fit-content; */
  flex-direction: column;
}

.appContainerRightField
{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 3px;
  padding: 0px 4px;
}
.appContainerRightField span
{
  color : #6E7191;
  font-size: 12px;
  align-self: flex-start;
  margin-left: 3%;
}

