.processingNotifPopup
{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #11111142;
}

.processingNotifBox
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    /* height: 190px; */
    padding: 25px;
    border-radius: 4px;
    background-color: #ffffff;
    color : #111111;
    font-family: 'Poppins';
    text-transform: uppercase;
}
.processingNotifBox img
{
    width: 60px; height: auto;
    margin-bottom: 10px;
}




/* PROCESS RESULT STYLES */


