*{
    font-family: 'Poppins';
}

.baseContainer{
    display: flex;
    flex-direction: column;
}
.secondContainer{
    display: flex;
    flex: 1;
    flex-direction: row;
}
.innerContainer{
    display: flex;
    flex: 1;
    flex-direction: column;
}

input, textarea
{
    border: 1px solid rgb(107 107 107) !important;
}

/* .ui.menu .item {
    font-size: 20px !important;
    font-weight: bolder !important;
} */


.appInnerMiddlePreviewContainer
{
    display: flex;
    position: absolute;
    right: -110%;
    width: 90%;
    height: 100%;
    background-color: #c4c4c4;
    justify-content: center;
}

.previewFileContainer
{
  width: 90%;
  margin-top: 15px;
  background-color:#ffffff;
  overflow-y: scroll;
  
}

.fillParent-1-2-7
{
  margin : 5px !important;
}


/* MONTH LIST CLASSES */
.appInnerFilterContainer
  {
      position: relative;
      display: flex;
      align-items: center;
      /* justify-content: space-between; */
      height: 40px;
      /* background-color: firebrick; */
  }

  .appInnerDisplayFilterContainer
  {
    display: flex;
    width: 40px;
    align-items: center;
    justify-content: center;
    height: 40px;
    /* background-color: floralwhite; */
  }
 
  .appInnerFilterBox
  {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .appInnerMonthsFilterContainer
  {
    position: relative;
    display: flex;
    align-items: center;
    width: 172px;
    height: 30px;
    border-radius: 3px;
    border: solid 1px #AB3134;
    outline: solid 2px #ab31332f;
    margin-right: 10px;
    background-color: floralwhite;
  }

  .appInnerMonthsListContainer
  {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 40px;
    left: 0px;
    width: 80%;
    padding: 2px 4px;
    height: 250px;
    overflow-y: scroll;
    z-index: 3;
    box-shadow: 0px 3px 0px #7d7e7e6c;
    border-radius: 2px;
    border: solid 0.5px #AB3134 ;
    /* height: auto; */
    background-color: #ffffff;
  }
  .monthItem
  {
    font-family: 'Poppins';
    font-size: 14px;
    width: 85%;
    text-align: left;
    color:#14142B;
    text-indent: 5px;
    cursor: pointer;
    font-weight: bolder;
    padding: 8px 0px;
    background-color: #ffffff;
    border-radius: 3px;
    border: solid 1.5px transparent;
    border-bottom: solid 1.5px gainsboro;
    transition: ease-in 0.2s;
  }
  .monthItem:hover
  {
    border-radius: 3px;
    color:#AB3134;
    border: solid 1.5px #AB3134;
    transition: ease-in 0.2s;
  }

.appContainerBtn
{
    display: flex;
    justify-content: center;
}
.appContainerBtn button
{
    display: flex;
    align-items: center;
    cursor: pointer;
    /* margin-top: 10px;
    margin-bottom: 25px; */
    font-family: 'Poppins';
    font-weight: 700;
    padding: 8px 18px;
    border-radius: 4px;
    border: solid 1px #AB3134;
    background-color: #ffffff;
    color:#AB3134;
    transition: all ease-in 0.2s;
}

.appContainerBtn button:hover
{
    border: solid 1px #AB3134;
    background-color: #c57b7c;
    color:#ffffff;
    transition: all ease-in 0.2s;
}
