  
  .appHeader
  {
    display: flex;
    height: 40px;
    border-radius: 2px;
    background-color:#ffffff;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .appHeaderTitlebox
  {
    background-color: #AB3134;
    color: #ffffff;
    width: 176px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 900;
    text-indent: 15px;
    font-size: 14px;
    text-transform: uppercase;
  }

  .appHeaderHmenubox
  {
     display: flex;
     align-items: center;
  }
  .appHeaderHmenuItem
  {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 15px;
    color: #1a1a1a;
    background-color: #ffffff;
    font-family: 'Poppins';
    font-weight: bolder;
    margin: 0px 5px;
    transition: ease 0.3s;
  }
  
  .appHeaderHmenuItemActive
  {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 15px;
    color:#ffffff;
    background-color:  #CD858D;
    font-family: 'Poppins';
    font-weight: bolder;
    margin: 0px 5px;
    transition: ease 0.3s;
  }

  .appHeaderHmenuItem:hover
  {
    
    color:#ffffff;
    background-color:  #CD858D;
    transition: ease 0.3s;
  }

  .appHeaderSearchbox
  {
    display: flex;
    position: relative;
    justify-content: center;
    border-radius: 2px;
    height: 70%;
    padding: 5px 10px;
  }
  
  .appHeaderSearchbox > input   
  {
    border : solid 0.5px gray;
    border-radius: 2px 0px 0px 2px;
    text-indent: 10px;
    
  }
  .appHeaderSearchbox > input::placeholder
  {
    font-size: 11px;
    font-family: 'Poppins';
    color: gray;
  }
  .appHeaderSearchbox > button
  {
    background: none;
    border: solid 0.5px gray;
    border-radius: 2px;
    border-left: 0px;
  }
  .appHeaderSearchbox > button > img   
  {
    position: relative;
    width: 18px;
  }
  