
body{

    margin: 0px;
    background-color: #F1F3F6 !important;
    background-image: none !important; 
    font-family: 'Poppins';
    overflow: hidden;
  }

  *::-webkit-scrollbar {
    width: 2px;
  }
  *::-webkit-scrollbar-track {
    background: #cccccc;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #6b6b6b;
    border-radius: 20px;
    /* border: 3px solid orange; */
  }

  img{
    user-select: none;
    -webkit-user-select: none;
  }
  
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
  }
  
  .container h2 {
    font-size: 5rem;
  }
  
  .container a {
    font-size: 1.4rem;
  }
  
  .appBar {
  
    display: flex;
    position: relative;
    /* flex: 1; */
    width: 100%;
    flex-direction: row;
    height: 40px;
    padding: 5px 0px;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
  
  }

  .customerHeader
  {
    display : flex; 
    color:#000000; 
    margin-left:auto;
    background-color: transparent;
    padding:1px 10px;
    border-radius:3px;
    transition :all ease-in-out 0.3s;
  }
  
  .customerHeader:hover
  {
    color:#000000; 
    background-color: gainsboro;
    transition :all ease-in-out 0.3s;
  }
  .appBarLogo{
    width: 27px;
    height: auto;
    align-self: center;
    margin-left: 10px;
  }
  
  .appBarOptsBox{
  
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-right: 10px;
  }
  
  .appBarOpt{
    width:11px;
    height: 11px;
    border-radius: 7px;
    background-color: red;
    cursor: pointer;
    align-self: center;
    margin: 0px 5px;
  }
  
  .appBody {
  
    display: flex;
    flex: 1;
    /* background-color: #eeeeee; */
    flex-direction: row;
    height: 100%;
  }
  .appMenuBar
  {
    display: flex;
    position: relative;
    width: 42px;
    height: calc(100% - 46px);
    border-radius: 2px;
    background-color: #ffffff;
    margin-top: 10px;
    margin-left: 10px;
    flex-direction: column;
    /* justify-content: flex-start; */
  }
  
  .appMenuBarItem
  {
    display: flex;
    position: relative;
    z-index: 2;
    margin : 4px 0px;
    width: 100%;
    height: 17px;
    align-items: center;
    justify-content: center;
    background-color:#ffffff00;
    padding: 12px 0px;
    cursor: pointer;
  }
  
  .appMenuBarItem img
  {
    pointer-events: none;
  }
  
  .appMenuBarItemFocus
  {
    display: flex;
    margin : 5px 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    padding: 7px 0px;
  }
  
  .appMenuBarItemLast
  {
    position: absolute;
    bottom: 0%;
    background-color: gainsboro;
  }
  .appMenuBarItemIcon
  {
    height: 20px;
    width: auto;
  }
  
  .appMenuBarItemIconOn
  {
    height: 20px;
    width: auto;
    filter: invert(100%);
  }
  
  .appContentContainer
  {
    width: calc(100% - 70px);
    display: flex;
    height: calc(100% - 10px);
    background-color: transparent;
    margin-top: 10px;
    margin-left: 10px;
    flex-direction: column;
  }
  
  .appContentContainerLeft
  {
    display: flex;
    width: 300px;
    max-width: 300px;
    height: calc(100% - 34px);
    margin : 0px 10px;
    margin-left: 0px;
    border-radius: 2px;
    background-color:transparent;
    flex-direction: column;
  }
  



  .appContentContainerCenter
  {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    height: calc(100% - 35px);
    margin : 0px 5px;
    margin-left: 0px;
    border-radius: 2px;
    border: solid 0.5px #BABABA85;
    background-color: #ffffff;
    overflow: hidden;
  }



  .appContainerTitle
  {
    display: flex;
    width: 95%;
    height: 45px;
    margin-left: 2.5%;
    font-size: 14px;
    font-weight: bolder;
    color: #14142B;
    text-indent: 9px;
    line-height: 3;
    border-bottom: solid 1.5px gainsboro;

  }


  input.appInputBase,  select.appInputBase
  {
    display: flex;
    width: 90%;
    padding: 12px 4px;
    margin: 5px 0px;
    border: solid 0.5px #A0A3BD85;
    border-radius: 4px;
    font-family: 'Poppins';
    text-indent: 5px;
    font-weight: bolder;
  }

  .appInnerBody
  {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: transparent;
    margin-top: 8px;
    justify-content: space-between;
  }


  .appFooter
  {
    display:flex;
    width:100%;
    height:65px;
    background-color: rgb(117, 120, 122);
  }