.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    height: 100%;
    background-color: #ffffff;
  }

.leftBloc
{
    display: flex;
    flex: 2;
}
 
.appContentContainerRight
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  min-height: 200px; 
  margin : 0px 5px;
  margin-right: 40px;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 40px;
  border: solid 0.5px #AB313485;
  background-color: #ffffff;
  box-shadow: 0px 6px 0px gainsboro;
}
.appContainerRightFields
{
  display: flex;
  /* height: fit-content; */
  width: 90%;
  flex-direction: column;
}

.appContainerRightField
{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 3px;
  padding: 0px 4px;
}

input
{
  width: 100%;
}

.appContainerRightField span
{
  color : #6E7191;
  font-size: 12px;
  align-self: flex-start;
  margin-left: 3%;
}
.appContainerBtn
{
  display: flex;
  justify-content: center;
}
.appContainerBtn button
{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 14px 18px;
  border-radius: 4px;
  border: none;
  background-color: #AB3134;
  color:#ffffff;
}


.signinEnabled
{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 14px 18px;
  border-radius: 4px;
  border: none;
  background-color: #AB3134;
  color:#ffffff;
  pointer-events: painted;
}

.signinDisabled
{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 14px 18px;
  border-radius: 4px;
  border: none;
  color:#ffffff;
  pointer-events: none;
  background-color: gray;
}