.customerItem{

    background-color: #d2d2d240;
    transition: all 0.3s ease-in;
}
.customerItem:hover{

    background-color:#EB575740;
    transition: all 0.3s ease-in;
}
.customerItemActive{

    background-color:#EB575740;
    transition: all 0.3s ease-in;
}