.appContentContainerLeftActivities
{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 55%;
  margin-top: 10px;
  border-radius: 2px;
  border: solid 0.5px #BABABA85;
  background-color: #FDFAFA;
  overflow: hidden;

}

.appActivitiesContainer
{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  flex: 1;
  transition: ease-in 0.2s;
}

.appActivitiesContainer:hover
{
  overflow-y: scroll;
  transition: ease-in 0.2s;
}
.appActivityItem
{
  width: 90%;
  background-color: #ffffff;
  color: #14142B;
  font-size: 12px;
  text-align: left;
  font-weight: bold;
  padding: 4px;
  margin: 5px 0px;
  border-bottom: solid 0.5px gainsboro;
}

.appActivityItem span:nth-child(2)
{
  font-weight: lighter;
}
 .appActivityItem span:nth-child(3)
{
  display:flex;
  float:right;
  margin-right : 5px;
  margin-top:10px;
  font-size: 10px;
}
