  

  .appInnerMiddleContainer
  {
      display: flex;
      position: relative;
      width: 100%;
      height: 100%;
      background-color: gainsboro;
      overflow: hidden;
  }

  .appInnerMiddleFilesContainer
  {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: gainsboro;
      overflow-y: scroll;
  }

  .appInnerMiddlePreviewContainer
  {
      display: flex;
      position: absolute;
      right: -110%;
      width: 60%;
      height: 100%;
      background-color: #c4c4c4;
      justify-content: center;
  }
  
  .previewFileContainer
  {
    width: 90%;
    margin-top: 15px;
    /* background-color: firebrick; */
    overflow-y: scroll;
    
  }
