
  .appInnerMiddlePreviewContainer
  {
      display: flex;
      position: absolute;
      right: -110%;
      width: 70%;
      height: 100%;
      background-color: #c4c4c4;
      justify-content: center;
  }
  
  .previewFileContainer
  {
    width: 90%;
    margin-top: 15px;
    background-color:#ffffff;
    overflow-y: scroll;
    
  }

  .fillParent-1-2-7
  {
    margin : 5px !important;
  }
  .fillParent-5-2-7
  {
    transform : scale(0.90) !important;
  }
