.App {
  padding-left: 20px;
}

*,
*:before,
*:after {
  -webkit-box-sizing:  unset !important;
  box-sizing:  unset !important;
}

html {
  -webkit-box-sizing: unset !important;
  box-sizing:  unset !important;
}

*::-webkit-scrollbar {
  width: 3px !important;
}
*::-webkit-scrollbar-track {
  background: #cccccc !important;
}
*::-webkit-scrollbar-thumb {
  background-color: #6b6b6b !important;
  border-radius: 20px !important;
  /* border: 3px solid orange; */
}

.gridFileEntryPreview-1-2-9 {
  flex-grow: 1;
  margin: 5px !important;
}

// For semantic Tab menu
.ui.menu .item {
  font-size: 14px !important;
}

.ui.dropdown > .text > img, .ui.dropdown > .text > .image, .ui.dropdown .menu > .item > .image, .ui.dropdown .menu > .item > img
{
  vertical-align: middle !important;
}
