  

  .appInnerMiddleContainer
  {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      height: 100%;
      background-color: gainsboro;
      overflow: hidden;
  }

  .appInnerContainer
  {
      display: flex;
      /* flex-direction: column; */
      /* align-items: center; */
      width: 100%;
      height: 100%;
      background-color: gainsboro;
      overflow-y: scroll;
  }

  .appInnerMiddlePreviewContainer
  {
      display: flex;
      position: absolute;
      right: -110%;
      width: 80%;
      height: 100%;
      background-color: #c4c4c4;
      justify-content: center;
  }
  
  .previewFileContainer
  {
    width: 90%;
    margin-top: 15px;
    /* background-color: firebrick; */
    overflow-y: scroll;
    
  }

  .filebaseContainer
{
    display: flex;
    width: 97%;
    height: 25px;
    padding: 4px 4px;
    margin: 3px 0px;
    border: solid 0.5px gray;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0px 2px 0px #7d7e7e6c;
    align-items: center;
    cursor: pointer;
    /* justify-content: space-between; */
}

.iconContainer
{
    display: flex;
    /* width: 80px; */
    height: 100%;
    /* background-color: red; */
    align-items: center;
    justify-items: center;
    margin-right: 25px;
}
.iconContainer img
{
    height: 80%;
    width: auto;
    margin-left: 3px;
}
.detailsContainer
{
    display: flex;
    align-self: flex-start;
    width: 100%;
    height: 100%;
    margin-left: 10px;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* flex-direction: column; */
    color: #313131;
    text-align: left;
    font-family: 'Poppins';
}
.detailsContainer span:first-child
{
    font-size: 14px;
    /* font-weight: bolder; */
}
.detailsContainer span:last-child
{
    font-size: inherit;
    /* font-weight: bolder; */
}
.statsContainer
{
    display: flex;
    /* width: 49px; */
    height: 100%;
    margin-left: auto;
    align-items: center;
    
}

.statsContainer span
{
    font-size: 12px;
    font-weight: 4000;
    color: #313131;
    margin-right: 10px;
}
.statsContainer img
{
    width: 17px;
    height: auto;
    margin-right: 10px;
}



.appContainerRightField
{
  display: flex;
  /* flex: 1; */
  width: 90%;
  flex-direction: column;
  /* align-items: center; */
  margin-top: 0px;
  margin-bottom: 3px;
  /* padding: 0px 4px; */
}

input
{
  width: 100%;
  background-color: #ffffff;
}

input.logoSelector
{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.appContainerRightField span
{
  color : #13141d;
  font-size: 12px;
  font-weight: bolder;
  align-self: flex-start;
  /* margin-left: 3%; */
}
.appContainerBtn
{
  display: flex;
  justify-content: center;
}
.appContainerBtn button
{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 14px 18px;
  border-radius: 4px;
  border: none;
  background-color: #AB3134;
  color:#ffffff;
}


.appContainerBtn
{
  display: flex;
  justify-content: center;
}
.appContainerBtn button
{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 14px 18px;
  border-radius: 4px;
  border: solid 1px #AB3134;
  background-color: #AB3134;
  color:#ffffff;
}


.signinEnabled
{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 14px 18px;
  border-radius: 4px;
  border: solid 1px #AB3134;
  background-color: #CD858D;
  color:#ffffff;
  pointer-events: painted;
}
.newCustomerBtn
{
  border: none;
  background-color: #AB3134;
  color: #ffffff;
  margin-left: 8px;
  padding: 0px 18px;
}

.signature{

  border: solid 3px gainsboro;
}