  

  .appInnerMiddleContainer
  {
      display: flex;
      position: relative;
      width: 100%;
      height: 100%;
      background-color: gainsboro;
      overflow: hidden;
      flex-direction: column;
  }

  .appInnerMiddleFilesContainer
  {
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      width: 100%;
      height: 100%;
      background-color: gainsboro;
      overflow-y: hidden;
  }

  .appInnerMiddlePreviewContainer
  {
      display: flex;
      position: absolute;
      right: -110%;
      width: 70%;
      height: 100%;
      background-color: #c4c4c4;
      justify-content: center;
  }
  
  .previewFileContainer
  {
    width: 90%;
    margin-top: 15px;
    background-color:#ffffff;
    overflow-y: scroll;
    
  }
  